<!DOCTYPE html>
<html ng-app="AppMod">
	<head>
		<meta charset="UTF-8" />
		<title>Demo Angular</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
		<script src="index.js" type="text/javascript"></script>
		<link href="style.css" rel="stylesheet">
	</head>
	<body ng-controller="AppCtrl as ctrl">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Student</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a id="home" class="active" href="#">Home</a></li>
					<li><a id="show" href="#" ng-click="ctrl.showTable();">Show Students</a></li>
					<li><a id="add-student" href="#" ng-click="ctrl.showAdd();">Add Student</a></li> 
				</ul>
			</div>
	</nav>
		<div id="table-div" ng-show="ctrl.showDiv.table">
			<table class="table table-bordered">
				<tr>
					<th>ID</th>
					<th>Full Name</th>
					<th>GPA</th>
					<th>SAT</th>
					<th>Major ID</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="student in ctrl.students">
					<td ng-show="student.show"><span ng-bind="student.id"></span></td>
					<td ng-show="student.show"><span ng-bind='student.lastName + ", " +student.firstName'></span></td>
					<td ng-show="student.show"><span ng-bind="student.gpa"></span></td>
					<td ng-show="student.show"><span ng-bind="student.sat"></span></td>
					<td ng-show="student.show"><span ng-bind="student.majorId"></span></td>
					<td ng-show="student.show">
						<button ng-attr-id="hide{{student.id}}" class="btn btn-primary" ng-click="student.show=false;">
							<span class="glyphicon glyphicon-eye-close"></span>
						</button>
						<button ng-attr-id="edit{{student.id}}" class="btn btn-warning" ng-click="ctrl.showEdit(student.id);">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button ng-attr-id="delete{{student.id}}" class="btn btn-danger" ng-click="ctrl.deleteId(student.id);">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div id="control-div" ng-show="ctrl.showDiv.table">
			<p><button id="refresh-table" ng-click="ctrl.refresh();">Refresh</button></p>
			<p><input id="sat-filter" type="text" placeholder="SAT > x" ng-model="sat"></input></p>
			<p><button ng-click="ctrl.hideBySat(sat);">Filter</button></p>
		</div>
		<div class="edit-student-div" ng-show="ctrl.showDiv.edit">
			<form name="editForm">
				<table>
					<tr>
						<td>ID: </td>
						<td>
							<input id="student-id" type="text" readonly value="{{ctrl.editRecord.id}}" required />
						</td>
					</tr>
					<tr>
						<td>First Name: </td>
						<td>
							<input id="student-first-name" type="text" value="{{ctrl.editRecord.firstName}}" required />
						</td>
					</tr>
					<tr>
						<td>Last Name: </td>
						<td>
							<input id="student-last-name" type="text" value="{{ctrl.editRecord.lastName}}" required />
						</td>
					</tr>
					<tr>
						<td>SAT Score: </td>
						<td>
							<input id="student-sat" type="text" value="{{ctrl.editRecord.sat}}" required />
						</td>
					</tr>
					<tr>
						<td>GPA: </td>
						<td>
							<input id="student-gpa" type="text" value="{{ctrl.editRecord.gpa}}" required />
						</td>
					</tr>
				</table>
			</form>
			<button id="edit-return">Return</button>
			<button id="update" ng-click="ctrl.update();">Update</button>
		</div>
		<div class="add-student-div" ng-show="ctrl.showDiv.add">
			<form name="addForm">
				<table>
					<tr>
						<td>First Name: </td>
						<td>
							<input id="add-student-first-name" name="firstName" ng-model="firstName" type="text" pattern="[A-Z][a-zA-Z]*" required />
							<span ng-show="addForm.firstName.$error.required && addForm.firstName.$pristine">*</span>
							<span class="error" ng-show="addForm.firstName.$error.required && !addForm.firstName.$pristine">Required</span>
							<span class="error" ng-show="addForm.firstName.$invalid && addForm.firstName.$error.pattern">Invalid Name</span>
						</td>
					</tr>
					<tr>
						<td>Last Name: </td>
						<td>
							<input id="add-student-last-name" name="lastName" ng-model="lastName" type="text" pattern="[A-Z][a-zA-Z]*" required />
							<span class="error" ng-show="addForm.lastName.$error.required && !addForm.lastName.$pristine">Required</span>
							<span class="error" ng-show="addForm.lastName.$invalid && addForm.lastName.$error.pattern">Invalid Name</span>
							<span ng-show="addForm.lastName.$error.required && addForm.lastName.$pristine">*</span>
						</td>
					</tr>
					<tr>
						<td>SAT Score: </td>
						<td>
							<input id="add-student-sat" name="sat" ng-model="sat" type="text" pattern="(\d{0,4})?" />
							<span class="error" ng-show="addForm.sat.$invalid && addForm.sat.$error.pattern">Invalid SAT</span>
						</td>
					</tr>
					<tr>
						<td>GPA: </td>
						<td>
							<input id="add-student-gpa" name="gpa" ng-model="gpa" type="text" pattern="[0-4](\.\d{1,2})?" required />
							<span class="error" ng-show="addForm.gpa.$error.required && !addForm.gpa.$pristine">Required</span>
							<span class="error" ng-show="addForm.gpa.$invalid && addForm.gpa.$error.pattern">Invalid GPA</span>
							<span ng-show="addForm.gpa.$error.required && addForm.gpa.$pristine">*</span>
						</td>
					</tr>
					<tr><td></td><td><p>* denotes a required field</p></td></tr>
				</table>
			</form>
		<button id="add-return" class="btn btn-primary">Return</button>
		<button id="add" ng-click="ctrl.add();" ng-disabled="addForm.$invalid" class="btn btn-primary">Add</button>
	</div>
</body>
</html>